# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [5]:
data = {'國家': ['A','B','C','D','E','F','G','H','I','J'],
        '人口': np.random.randint(100000,size=10)}
data = pd.DataFrame(data)

In [6]:
data

  國家     人口
0  A  53618
1  B  37279
2  C  28945
3  D  60530
4  E  40449
5  F  96126
6  G  42575
7  H  40537
8  I  91736
9  J  50021

In [7]:
data.國家[data.人口==data.人口.max()]

5    F
Name: 國家, dtype: object